*{

margin:0;
padding:0;
box-sizing:border-box;

}


body{


height:100vh;

overflow:hidden;


background:
linear-gradient(
to bottom,
#b92935 0%,
#ce4c77 45%,
#ff82cb 100%
);


font-family:
"Trebuchet MS",
sans-serif;


}




.hidden{

display:none;

}




#opening-screen{


height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;


color:white;


text-align:center;


}



#opening-screen h1{


font-size:
clamp(30px,7vw,55px);


margin-bottom:40px;


text-shadow:
0 0 20px #ffb3d9;


}





button{


border:none;


padding:
15px 45px;


border-radius:40px;


font-size:22px;


background:white;


color:#c23b67;


cursor:pointer;


box-shadow:
0 0 25px rgba(255,255,255,.6);


}




#garden-screen{


height:100vh;

width:100vw;


}



canvas{


position:absolute;

bottom:0;

left:0;


width:100%;

height:100%;


}





#message{


position:absolute;


top:8%;


width:100%;


text-align:center;


animation:
fadeIn 2s ease forwards;


}





#message h1{


font-family:
"Brush Script MT",
"Segoe Script",
cursive;


font-size:
clamp(35px,8vw,75px);



color:white;


text-shadow:

0 0 15px #ffb3d9,
0 0 35px #ff4d6d;



}




#message a{


display:inline-block;


margin-top:25px;


padding:
12px 35px;


border-radius:30px;


background:white;


color:#c23b67;


text-decoration:none;


font-size:22px;


box-shadow:
0 0 20px rgba(255,255,255,.7);


}




@keyframes fadeIn{


from{

opacity:0;

transform:
translateY(-30px);

}


to{

opacity:1;

transform:
translateY(0);

}


}